body{
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#img{
	margin-top: 0px;
	margin-left: ;
	width: 30px;
	height: 30px;
}

.titre{
	color: white;
	font-family: 'Bungee', cursive;
	font-size: 80px;
}

.pere{
  display: flex;
  justify-content: center;
  align-items: center;
}
