body{
	background-image: url("../images/champions.jpg");
	background-position: center;
}
#img{
	width: 100px;
	height: 100px;
	text-decoration-color: white;
}
#teams, #players, #teamSel{
	color: white;
}

